* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.imageLeft {
  position: absolute;
  top: 20%;
  left: 0;
  width: 120px;
  height: 400px;
}

.imageLeft img {
  display: block;
  width: 100%;
  height: 125%;
}

.imageBot {
  position: absolute;
  bottom: 0px;
  left: 40%;
  max-width: 110px;
  height: auto;
}
.imageBot img {
  display: flex;
  z-index: -1;
  position: relative;
}

.imageRight {
  position: absolute;
  right: 0;
  top: 30%;
  max-width: 90px;
  height: auto;
}

.imageRight img {
  display: flex;
  max-width: 90px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  padding: 10px 0px;
  background-color: white;
}

header .container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0px 20px;
}

header .logo {
  display: flex;
  width: 100%;
  max-height: 60px;
  margin-right: 10%;
}

header .topnav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

header .topnav a {
  color: #000000;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  text-decoration: none;
  transition-duration: 0.4s;
}

header .topnav a:hover {
  color: rgb(255, 123, 0);
}

header .topnav a.active {
  color: rgb(255, 123, 0);
}

main {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 160px 0px;
}

.container {
  width: 1200px;
  height: auto;
  padding: 0px 20px;
  margin: auto;
}

.content-home {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

.content-home .introduction {
  display: flex;
  flex-direction: column;
  width: 50%;
}

h3 {
  font-size: 40px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 30px;
}

.content-home .image {
  display: flex;
  align-items: center;
  width: 50%;
}

.content-home .image img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.instagram_feed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  column-gap: 60px;
  row-gap: 30px;
  height: auto;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.instagram_feed div {
  display: flex;
  flex: 1;
  white-space: nowrap;
  width: 40%;
  min-width: 250px;
}

.instagram_feed a {
  width: 100%;
}

.instagram_feed img {
  display: block;
  width: 100%;
}

.instagram_overlay {
  position: absolute;
  top: 10%;
  right: 10px;
}

.instafoto {
  display: block;
  width: 150px;
  height: auto;
}

.volgonspijl {
  width: 150px;
}

.onsteam {
  display: flex;
  width: 100%;
}

.onsteam .linkerbox,
.onsteam .rechterbox {
  width: 50%;
}

.introductie-team p {
  margin-bottom: 30px;
}

.video {
  display: block;
  margin: auto;
}
